/R-bioinfo-intro-concordance.tex
/R-bioinfo-intro.Rnw.pdf
/R-bioinfo-intro.Rnw.synctex.gz
/R-bioinfo-intro.aux
/R-bioinfo-intro.log
/R-bioinfo-intro.out
/R-bioinfo-intro.pdf
/R-bioinfo-intro.synctex.gz
/R-bioinfo-intro.tex
/R-bioinfo-intro.toc
/figure/
/gitHeadInfo.gin
/the.table.I.just.saved.txt
/this.RData
