/R-bioinfo-intro-Q-concordance.tex
/R-bioinfo-intro-Q.R
/R-bioinfo-intro-Q.Rnw.pdf
/R-bioinfo-intro-Q.Rnw.synctex.gz
/R-bioinfo-intro-Q.Rnw~
/R-bioinfo-intro-Q.aux
/R-bioinfo-intro-Q.log
/R-bioinfo-intro-Q.out
/R-bioinfo-intro-Q.pdf
/R-bioinfo-intro-Q.synctex.gz
/R-bioinfo-intro-Q.tex
/R-bioinfo-intro-concordance.tex
/R-bioinfo-intro.Rnw.pdf
/R-bioinfo-intro.Rnw.synctex.gz
/R-bioinfo-intro.aux
/R-bioinfo-intro.log
/R-bioinfo-intro.out
/R-bioinfo-intro.pdf
/R-bioinfo-intro.synctex.gz
/R-bioinfo-intro.tex
/R-bioinfo-intro.toc
/figure/
/gitHeadInfo.gin
/the.table.I.just.saved.txt
/this.RData
/.RData
/BASENAME2-concordance.tex
/BASENAME2.Rnw
/BASENAME2.tex
/R-bioinfo-intro-html-dir.zip
/R-bioinfo-intro-html-dir/
/R-bioinfo-intro-knitr-html-concordance.tex
/R-bioinfo-intro-knitr-html.Rnw
/R-bioinfo-intro-knitr-html.aux
/R-bioinfo-intro-knitr-html.dvi
/R-bioinfo-intro-knitr-html.log
/R-bioinfo-intro-knitr-html.out
/R-bioinfo-intro-knitr-html.tex
/R-bioinfo-intro-knitr-html.tlg
/R-bioinfo-intro-knitr-html.toc
/R-bioinfo-intro.4ct
/R-bioinfo-intro.4tc
/R-bioinfo-intro.Rnw~
/R-bioinfo-intro.css
/R-bioinfo-intro.dvi
/R-bioinfo-intro.html
/R-bioinfo-intro.idv
/R-bioinfo-intro.lg
/R-bioinfo-intro.tex~
/R-bioinfo-intro.tmp
/R-bioinfo-intro.xref
/Rplots.pdf
/Sweavel.sty
/auto/
/listings-code.tex~
/make-html.sh~
/script1.Rout
/script1.R~
/script11.R
/script11.Rout
/script11.R~
/script12.Rout
/R-bioinfo-intro.R
/.Rhistory
/R-bioinfo-intro-html-dir.html
/R-bioinfo-intro-knitr-html.pdf
/R-bioinfo-intro-knitr-html.synctex.gz
/lastExample.R~
/make_full_zip.sh~
/permafrost/*
